@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

#main-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
}

h1 a, h1 a:hover, h1 a:visited {
    color: inherit;
    text-decoration: inherit;
}

header {
    text-align: center;
}

header > p {
    font-size: 11pt;
}

hr {
    height: 3px;
    background: black;
    border: none;
}

section {
    margin: 0px 0px 100px 0px;
}

.note {
    font-style: italic;
}


button, .die {
    cursor: pointer;
}

input {
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}


select {
    border: 2px solid black;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    color: black;
}

.submit-section {
    text-align: center;
}

#submit-button {
    font-size: 24pt;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#submit-button:hover, #submit-button:active {
    color: white;
    background-color: black;
    outline: none;
}

.die-roll, div[class^="dice-set-"] {
    display: flex;
    align-items: center;
}

.die-result {
    margin-left: 20px;
}

.die {
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 4px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    transition: transform ease-in-out 1s;
}

.die:hover {
    transform: rotate(360deg);
}

.die:active {
    background-color: black;
}

.die:active .dot {
    background-color: white;
}

.die .dot-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

.name {
    font-size: 20pt;
}

.error {
    font-style: italic;
    color: red;
}
